@using System.Threading
@using WTFPrice_HTFTeam.ViewModel
@model WTFPrice_HTFTeam.ViewModel.NewsVM
@{
    ViewBag.Title = "Index";
}

@section Binbundle{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
}

<div class="container body-content" style="padding: 10px 0 0 0">
    @Html.Partial("PartialNews/_PartialNewsTop", @Model.SortByCategory)
    @Html.Partial("PartialNews/_PartialNewsNavbar")
    <div class="row news-center">
        <div class="col-md-9">
            <div id="SearchResultId">
                @Html.Partial("PartialNews/_PartialNewsLeft", @Model.SortByCreatedDate)
                <div id="ViewMoreId">
                </div>
                <div class="ViewMoreWrap">
                    @Ajax.ActionLink("Xem thêm", "ViewMore", "News", new { times = 1 },
                    new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        LoadingElementId = "ajaxloader",
                        InsertionMode = InsertionMode.InsertAfter,
                        UpdateTargetId = "ViewMoreId",
                        OnComplete = "OnCompleted"
                    },
                    new { @class = "btn btn-primary myViewMoreBtn" })
                    <i class="fa fa-refresh fa-spin" id="ajaxloader"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @Html.Partial("PartialNews/_PartialNewsRight", @Model.SortByViews)
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
}